html body {
    font-size: 14px;
}
header .blog-masthead {
    background-color:#b34848 ;
}
body h1,body h2,body h3,body h4,body h5,body h6 {
    color: #b34848;
}
.blog-post-title a  {
    color: #b34848;
}
.blog-post-title a:hover {
    text-decoration: underline;
    color: #b34848;
}

.hide-comments{
    display: none;
}
.show-comments {
    display: block;
}

button {
    cursor: pointer;
}